.activity-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.activity-card {
  border: 3px solid black;
  border-radius: 4%;
  padding: 10px 30px;
}

.activity-img {
  width: 100px;
  height: 100px;
}
